<!DOCTYPE html>
<html>
<head>
  <title><%=filename%></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  <link rel="stylesheet" type="text/css" href="assets/doxco.css" />
  <link rel="stylesheet" type="text/css" href="assets/github.css" />
</head>
<body>
<div id="container">
  <div id="background"></div>
  <ul class="sections">
    <li id="title">
      <div class="docs">
        <h1><%= filename %></h1>
      </div>
    </li>
  <% comments.forEach(function (comment, i) { %>
    <li id="section-<%= i + 1%>">
      <div class="docs">
        <% var heading = comment.description.full.match(/^\s*<(h\d)>/) %>
        <div class="pilwrap <%= heading ? 'for-' + heading[1] : '' %>">
          <a href="#section-<%= i + 1%>" class="pilcrow">&#182;</a>
        </div>
        <%-comment.description.full%>
      </div>
      <% if (comment.code) { %>
      <div class="code">
        <pre><%-hljs.highlightAuto(comment.code).value%></pre>
      </div>
      <% } %>
    </li>
  <% });%>
  </ul>
</div>
</body>
</html>
